apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: kiac-gpu-compat
  labels:
    app.kubernetes.io/name: kiac-gpu-compat
    app.kubernetes.io/part-of: kiac
webhooks:
  - name: nvidia.gpu-compat.kiac.dev
    admissionReviewVersions: [v1]
    sideEffects: None
    failurePolicy: Fail
    matchPolicy: Equivalent
    reinvocationPolicy: Never
    timeoutSeconds: 5
    namespaceSelector:
      matchLabels:
        kiac.dev/gpu-compat: nvidia
    clientConfig:
      caBundle: {{ .CABundle }}
      service:
        name: kiac-gpu-compat
        namespace: kube-system
        path: /mutate
        port: 443
    rules:
      - operations: [CREATE]
        apiGroups: [""]
        apiVersions: [v1]
        resources: [pods]
        scope: Namespaced
